body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
}

body { 
    background-color: white;
    display: grid;
    place-items: center; 
    color: black;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 300px;
    width: calc(100% - 300px);
} 

body.dark_theme{
    background-color: rgb(6, 0, 43);
    color: rgb(255, 255, 252);
}

body.dark_theme footer {
    background-color:#023b6d;
    border-top: 2px solid rgb(255, 255, 252);
}

h1{ 
    font-family: "Raleway", sans-serif; 
    font-size: 50px; 
    font-weight: 550; 
} 
h2{
    font-family: "Raleway", sans-serif;
    font-size:30px;
    font-weight: 550;
}
h4{
    font-family: "Raleway", sans-serif;
    font-size:20px;
    font-weight: 550;
}
p{ 
    font-family: "Raleway", sans-serif; 
    font-size: 15px; 
}
ul{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blue;
}

#first_section{ 
    height:100vh; 
    width: 100%; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  
                url(pictures/computer.jpg); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    padding-left: 100px;
    box-sizing: border-box; 
} 

#container{
    margin: 20px;;
    padding:20px;
    max-width: 1300px;
    min-width: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.profile_picture{
    float: left;
    margin-right: 30px;
}

.about_row{
    display: flex;
    flex-wrap: wrap;
}

.about_column{
    flex: 0 0 auto;
    width: 50%;
}

#resume_contents{
    display: flex;
}

#resume_left{
    min-width: 50%
}

/* #portfolio_section{
    background-color: #f4fafd;
} */

#portfolio_contents{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 30px); /* Responsive gap */
    justify-content: center;
}

#theme_button{
    background-color: #149ddd;
    height: 40px;
    width: 125px;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    display: block
}

#theme_button:hover{
    background-color: color-mix(in srgb, #149ddd, transparent 20%);
    color: white;
    cursor: pointer;
}

.clearfix { 
    display: block; 
    flex-wrap: nowrap;
    align-items: flex-start; 
} 

#about_img { 
    flex: 0 0 300px;
    max-width: 100%; 
} 

.profile_picture { 
    width: 100%; 
    max-width: 300px;
    height: auto; 
} 

@media (max-width: 768px) { 

    .clearfix{ 
        display: flex; 
        flex-direction: column; 
    } 


    #about_img { 
        margin-bottom: 20px;
    } 

    .about_column { 
        flex: 0 0 100%;
    } 
} 

#go_to_top{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 24px;
    color: white;
    background-color: #149ddd;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    border: none;
    line-height: 0;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

#go_to_top:hover{
    background-color: 
    color-mix(in srgb, #149ddd, transparent 20%);
}

.header{
    width: 100%;
    height: 40px;
    display:block;
    background-color: #023b6d;
    position:fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.inner_header{
    display: flex;
    justify-content: space-between; /* Spread out items if there are multiple */
}

footer{
    background-color: #f4fafd;
    width: 100%;
    text-align: center;
}

/* Sidebar */

.pfp_side{
    width: 100px;
    border-radius: 50%;
    border: 5px solid #44494e;
}

.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    top: 40px;
    height: 100%;
    width: 300px;
    color: white;
    background-color: #040b14;
    padding: 0 15px;
    transition: all 0.5s ease;
}

.sidebar.active{
    transform: translateX(0);
    opacity: 1;
}

#sidebar_button{
    position:fixed;
    top: 50px;
    right: 10px;
    background-color: #149ddd;
    color: white;
    border: none;
    z-index: 99;
    font-size: 24px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    line-height: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: none;
}


@media (max-width: 1200px) {
    .sidebar {
        opacity: 0;
        transform: translateX(-100%);
    }

    body{
        width: 100%;
        margin: 0;
    }

    #sidebar_button{ 
        display: block;
    }
}

#sidebar_button:hover{
    background-color: 
    color-mix(in srgb, #149ddd, transparent 20%);
}

.user{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.user img{
    width: 125px;
    border-radius: 50%;
    border: 5px solid #44494e;
}

.user p{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.socials{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socials a{
    color: white;
}

#socials_button{
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: none;
    line-height: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #343c41;
}

#socials_button:hover{
    background-color: #149ddd;
}

.sidebar ul{
    padding: 0 0 20px 0;
}

.sidebar ul li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    padding: 0;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar ul li a{
    color: rgb(170, 170, 170);
    text-decoration: none;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

#socials_icon{
    margin-right: 10px;
}

.sidebar ul li a:hover{
    color: white;
}

.sidebar ul li a:hover #socials_icon {
    color: #149ddd
}









 

